<HTML>
	<HEAD>
		<TITLE>
			Amazon price tracker
		</TITLE>
		<link rel = "stylesheet" type = "text/css" href = "../static/mytheme.css"</link>
		<script src = "../static/js/jquery-3.1.1.min.js"></script>
		<script src = "../static/js/submit.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
    	<script src = "../static/js/jquery.validate.min.js"></script>

	<HEAD>
	<BODY>
    	<div class="container">
    		<h1 class="welcome text-center">Amazon Price Tracking App</h1>
		        <div class="card card-container">
		        	<h2 class='login_title text-center'>Subscribe for a product</h2>
		    	</div><!-- /card-container -->
		    </div><!-- /container -->
	</BODY>
</HTML>

