<HTML>
	<HEAD>
		<TITLE>
			Amazon price tracker
		</TITLE>
		<link rel = "stylesheet" type = "text/css" href = "../static/mytheme.css"</link>
		<script src = "../static/js/jquery-3.1.1.min.js"></script>
		<script src = "../static/js/submit.js"></script>
	</HEAD>
	<BODY>
<!-- 		<script type=text/javascript src="{{
  			url_for('static', filename='jquery.js') }}"></script> -->
    	<div class="container">
    		<h1 class="welcome text-center">Amazon Price Tracking App</h1>
	        <div class="card card-container">
	        	<h2 class='login_title text-center'>Subscribe for a product</h2>
	        	<hr>
	            <form id="cform" class="form-signin" name = "form">
	                <span id="reauth-email" class="reauth-email"></span>
	                <p class="input_title">Email</p>
	                <div id="emailError" class="error-Messages"></div>
	                <input type="text" id="inputEmail" class="login_box" name = "inpEmail" placeholder="example@domain.com"autofocus>

	                <p class="input_title">Product URL</p>
	                <div id="passError" class="error-Messages"></div>
	                <input type="text" id="inputPassword" name = "inpPassword" class="login_box" placeholder="https://amazon.com/your-product">
	                <button id=btnSubmit class="btn btn-lg btn-primary" type="submit">Submit</button>
	                <p id="result"></p>
	                <span id = "disp"></span>
	            </form><!-- /form -->
	        </div><!-- /card-container -->
	    </div><!-- /container -->
	</BODY>
</HTML>
