<HTML>
	<HEAD>
		<TITLE>
			Amazon price tracker
		</TITLE>
		<link rel = "stylesheet" type = "text/css" href = "../static/mytheme.css"</link>
		<script src = "../static/js/jquery-3.1.1.min.js"></script>
		<script src = "../static/js/submit.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
    	<script src = "../static/js/jquery.validate.min.js"></script>

	<HEAD>
	<BODY>
    	<div class="container">
    		<h1 class="welcome text-center">Welcome to <br>Amazon Price Tracking App</h1>
		        <div class="card card-container">
		        	<h2 class='login_title text-center'>Subscribe for a product</h2>
		        	<hr>
		            <form action="" class="form-signin" name = "myform">
		                <span id="reauth-email" class="reauth-email"></span>
		                <p class="input_title">Email</p>
		                <div id="emailError" class="error-Messages"></div>
		                <input type="text" id="inputEmail" class="login_box" placeholder="example@domain.com" required autofocus>

		                <p class="input_title">Product URL</p>
		                <div id="passError" class="error-Messages"></div>
		                <input type="text" id="inputPassword" class="login_box" placeholder="https://amazon.com/your-product" required>

		                <button id = "btnSubmit" class="btn btn-lg btn-primary" type="submit">Submit</button>
		            </form><!-- /form -->
		        </div><!-- /card-container -->
		    </div><!-- /container -->
	</BODY>
</HTML>

